<h2><%=@ticket.short_description%></h2>
<br>
<p>
    <%= @ticket.content%>
</p>
<br>
<%if @ticket.user_id == session[:user_id]%>
    <a href="/tickets/<%=@ticket.id%>/edit">Edit</a>
<% end %>
<br>
<h4>Comments</h4>
<ul>
<% if @ticket.comments.size > 0%>
    <%@ticket.comments.each do|comment|%>
        <%@user = User.find_by_id(comment.user_id)%>
        <li><%=@user.username%> - <%=comment.statement%></li>
    <% end %>
<% else %>
    <p>No comments</p>
<% end %>
<br>
</ul>
<form method="post" action="/tickets/<%=@ticket.id%>/comments" >
<textarea name="statement"cols="30" rows="10" placeholder="Add Comment Here"></textarea>
<br>
<input type="submit" value="Add comment">
</form>
<br>
<a href="/users">home</a>
